.content {
    padding: 30px;
}

.register-form__inner {
    display: block;
    margin-top: 48px;
}

.register-form__form {
    width: 30vw;
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .register-form__form {
        width: 60vw;
    }
}

.register-form__group {
    margin-bottom: 32px;
}

.register-form__label {
    display: block;
    margin-bottom: 8px;
}

.register-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: none;
    color: black;
    font-family: serif;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
}

.register-form__error-message {
    color: #FF9494;
}

.register-form__btn {
    margin-bottom: 32px;
    width: 30vw;
    border-radius: 8px;
    background-color: rgb(33, 75, 224);
    color: white;
    height: 48px;
    font-size: 15px;
}

.register-form__nav {
    text-align: center;
}

.register-form__nav-message {
    margin: 0px;
    color: #777;
}

.register-form__nav-link {
    color: rgb(33, 75, 224);
}