/* テーブル */
.user__table {
    margin-top: 40px;
    width: 90%;
    border-collapse: collapse;

}

.user__row {
    border-top: 1px solid #777;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user__label,
.user__data {
    padding: 25px 8px;
}

.user__label:first-of-type,
.user__data:first-of-type {
    padding-left: 48px;
}

.user__label:last-of-type,
.user__data:last-of-type {
    padding-right: 0px;
}

.user__label {
    color: #000;
    text-align: left;
    font-weight: bold;
    width: 100%;
    gap: 24px;
}


.search-form__date {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    position: relative;
    min-width: 140px;
    border: none;
    background-color: rgb(242, 242, 242);
}

.search-form__date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background: transparent;
}

.search-form__btn {
    position: absolute;
    font-size: 17px;
    right: 30%;
    border: 1px solid #E0DFDE;
    color: #E0DFDE;
}

.alert {
    color: red;
    text-align: center;
}